/* line 2, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart .title {
  border-bottom: 2px solid #CDD2D7;
  color: #333333;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
/* line 9, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart .title b {
  border-bottom: 2px solid #041E39;
  color: #041E39;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
/* line 18, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart {
  background: none repeat scroll 0 0 #FFF8E1;
  border: 1px solid #B9C6D4;
  width: 1098px;
  margin: 0;
}
/* line 23, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart .empty {
  font-size: 18px;
  height: 50px;
  padding-left: 20px;
}
/* line 28, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart tr {
  border-bottom: 1px solid #B9C6D4;
}
/* line 31, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart td.table-select, .user-cart table.cart .select-all {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  text-align: left;
}
/* line 37, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart .cart-header th, .user-cart table.cart .base-info td {
  color: #041E39;
  font-size: 14px;
  text-align: left;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}
/* line 45, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart .cart-header th.wid20 {
  width: 20%;
}
/* line 48, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart th.number, .user-cart table.cart td.number {
  width: 130px;
}
/* line 51, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart th.price, .user-cart table.cart td.price {
  width: 130px;
}
/* line 54, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart th.property, .user-cart table.cart td.property {
  width: 130px;
}
/* line 57, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart th.operation, .user-cart table.cart td.operation {
  width: 130px;
}
/* line 60, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart thead tr {
  background: none repeat scroll 0 0 #E7E9EB;
  border-bottom: 1px solid #B9C6D4;
}
/* line 64, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart tr.base-info {
  height: 60px;
  line-height: 60px;
}
/* line 67, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart tr.base-info h2 {
  float: left;
  font-weight: 600;
  margin: 0 5px 0 0;
}
/* line 72, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart tr.base-info .price {
  color: #FF0000;
  font-size: 20px;
}
/* line 78, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart tr.price-info .price-item {
  float: left;
}
/* line 81, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart tr.price-info .price-details {
  float: left;
  font-weight: bold;
  margin-left: 20px;
  padding-top: 10px;
  width: 127px;
}
/* line 89, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart tr.price-info .form-item input {
  display: block;
  margin-top: 5px;
}
/* line 93, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart tr.price-info .form-item select {
  display: block;
  margin-top: 5px;
}
/* line 98, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart tr.price-info .symbol span {
  color: #FF0000;
  font-size: 16px;
}
/* line 102, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart table.cart tr.price-info input.form-number {
  width: 70px;
}
/* line 107, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart .cart-bottom {
  background: none repeat scroll 0 0 #FFFFFF;
  border-left: 1px solid #B9C6D4;
  border-right: 1px solid #B9C6D4;
  border-bottom: 1px solid #B9C6D4;
  font-size: 14px;
  height: 70px;
  line-height: 70px;
  width: 1096px;
  text-align: right;
}
/* line 117, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart .cart-bottom .order-price {
  display: inline;
  font-size: 20px;
}
/* line 120, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart .cart-bottom .order-price label {
  color: #FF0000;
}
/* line 124, ../../../bag/sass/host/order/user-cart-form.scss */
.user-cart .cart-bottom input {
  background: none repeat scroll 0 0 #FF4400;
  color: #FFFFFF;
  font-size: 18px;
  height: 50px;
  margin: 0 20px;
  text-align: center;
  width: 130px;
  border-radius: 3px 3px 3px 3px;
  border: medium none;
}
