/* line 1, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit {
  width: 800px;
  float: left;
}
/* line 4, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit .panel-edit {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 20px;
}
/* line 8, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit .title {
  border-bottom: 2px solid #CDD2D7;
  color: #333333;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
/* line 15, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit .title label {
  border-bottom: 2px solid #041E39;
  color: #041E39;
  height: 30px;
  line-height: 30px;
  float: left;
  font-weight: bold;
  padding: 0 10px;
}
/* line 25, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit fieldset {
  margin-top: 20px;
  margin-bottom: 0;
  border: medium none;
}
/* line 29, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit fieldset span {
  font-weight: bold;
  color: #041E39;
  font-size: 18px;
  font-weight: normal;
}
/* line 35, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit fieldset .form-item {
  height: 36px;
  line-height: 36px;
  margin-top: 10px;
}
/* line 39, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit fieldset .form-item label {
  float: left;
  font-size: 16px;
  padding: 0 10px;
  width: 100px;
}
/* line 46, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit fieldset .one-to-many {
  margin-top: 10px;
}
/* line 48, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit fieldset .one-to-many label {
  float: left;
  font-size: 16px;
  line-height: 36px;
  padding: 0 10px;
  width: 100px;
}
/* line 55, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit fieldset .one-to-many .form-item {
  float: right;
  margin: 0;
  width: 620px;
}
/* line 63, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit .form-item-client-remark .form-textarea-wrapper {
  margin-top: 15px;
  padding-left: 20px;
}
/* line 67, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit .form-item-client-remark label {
  color: #041E39;
  font-size: 18px;
  padding: 0 10px;
}
/* line 74, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit .form-item-buy-number input {
  display: block;
  margin-left: 20px;
  margin-top: 15px;
}
/* line 80, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-edit .form-item-buy-number label {
  color: #041E39;
  font-size: 18px;
  padding: 0 10px;
}

/* line 88, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 15px;
  width: 250px;
  float: right;
}
/* line 93, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show fieldset {
  border: none;
  margin: 0 0 10px;
  padding: 0;
}
/* line 97, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show fieldset legend {
  border-bottom: 2px solid #CDD2D7;
  color: #333333;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
/* line 104, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show fieldset legend span {
  border-bottom: 2px solid #041E39;
  color: #041E39;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-weight: bold;
}
/* line 114, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show fieldset .fieldset-wrapper {
  margin-top: 15px;
  width: 100%;
  float: left;
}
/* line 118, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show fieldset .fieldset-wrapper .item {
  height: auto;
  line-height: 36px;
  width: 100%;
  float: left;
}
/* line 123, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show fieldset .fieldset-wrapper .item span {
  color: #041E39;
  float: left;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  width: 70px;
}
/* line 131, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show fieldset .fieldset-wrapper .item label {
  color: #333333;
  font-size: 14px;
}
/* line 137, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show fieldset .fieldset-wrapper .one-to-many label {
  float: left;
  width: 180px;
}
/* line 145, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show .change-info .first {
  border-top: 1px solid #CDD2D7;
}
/* line 148, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show .change-info .item {
  height: 36px;
  line-height: 36px;
  width: 100%;
}
/* line 152, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show .change-info .item span {
  color: #041E39;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
}
/* line 158, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show .change-info .item label {
  color: #333333;
  font-size: 14px;
}
/* line 164, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show .add-cart {
  margin: 15px 0 0 0;
  padding-top: 15px;
  border-top: 1px solid #CDD2D7;
}
/* line 168, ../../../bag/sass/host/order/custom-business-form.scss */
.custom-business-show .add-cart .button {
  background: none repeat scroll 0 0 #CC0000;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  border: medium none;
}
