/* line 1, ../../../bag/sass/host/order/product-list.scss */
.product-list {
  height: 600px;
}
/* line 3, ../../../bag/sass/host/order/product-list.scss */
.product-list .title {
  border-bottom: 2px solid #CDD2D7;
  color: #333333;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
/* line 9, ../../../bag/sass/host/order/product-list.scss */
.product-list .title b {
  border-bottom: 2px solid #041E39;
  color: #041E39;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
/* line 18, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 5px 5px 5px 5px;
  float: left;
  margin: 5px 20px;
  overflow: hidden;
  width: 21%;
}
/* line 26, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 .rwq_title {
  background: none repeat scroll 0 0 #F1F1F1;
  border-bottom: 1px solid #DADADA;
  border-top: 1px solid #FFFFFF;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
/* line 34, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 .rwq_title span {
  float: right;
  cursor: pointer;
  font-size: 17px;
  margin-right: 7px;
}
/* line 41, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 ul, .product-list .fuwuqi_01 ol {
  list-style-type: none;
  margin: 0;
}
/* line 45, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 ul li {
  border-bottom: 1px solid #DADADA;
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  margin: 0;
  display: table;
  width: 100%;
}
/* line 53, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 ul li span {
  border-right: 1px solid #DADADA;
  color: #041E39;
  float: left;
  font-weight: bold;
  margin-right: 5px;
  text-align: center;
  width: 60px;
}
/* line 62, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 ul li p {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  width: 100%;
}
/* line 69, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 .hide {
  display: none;
}
/* line 72, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 .show {
  display: block;
}
/* line 75, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 .jiage {
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
/* line 81, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 .goumai a {
  background: none repeat scroll 0 0 #999999;
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
/* line 90, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 .goumai a img {
  vertical-align: middle;
}
/* line 94, ../../../bag/sass/host/order/product-list.scss */
.product-list .fuwuqi_01 .goumai a:hover {
  background: none repeat scroll 0 0 #CC0000;
  text-decoration: none;
}
