.blank5 {
	height:5px;
	width:auto;
	clear:both;
	overflow:hidden;
}
.blank10 {
	height:10px;
	width:auto;
	clear:both;
	overflow:hidden;
}
.blank12 {
	height:12px;
	width:auto;
	clear:both;
	overflow:hidden;
}
.blank15 {
	height:15px;
	width:auto;
	clear:both;
	overflow:hidden;
}
.blank20 {
	height:20px;
	width:auto;
	clear:both;
	overflow:hidden;
}
.blank30 {
	height:30px;
	width:auto;
	clear:both;
	overflow:hidden;
}
.blank35 {
	height:35px;
	width:auto;
	clear:both;
	overflow:hidden;
}
.blank40 {
	height:40px;
	width:auto;
	clear:both;
	overflow:hidden;
}
.blank50 {
	height:50px;
	width:auto;
	clear:both;
	overflow:hidden;
}
.blank80 {
	height:80px;
	width:auto;
	clear:both;
	overflow:hidden;
}
