<div class="shujuzx fl">
  <div class="Order_title"><b>首页&gt;新闻动态 {{ element.catg }}</b> </div>
   <div class="blank20"></div>
   <div class="falvfa">
     {{ elements.list }}
   </div>
  <div class="blank20"></div>
  {{ elements.list_pager }}
 </div>

