/* line 1, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_geren {
  float: left;
  height: 100px;
  width: 650px;
}
/* line 5, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_geren img {
  float: left;
  width: 90px;
  height: 90px;
}
/* line 10, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_geren dl {
  margin: 0 0 0 20px;
  float: left;
}
/* line 13, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_geren dl dt {
  margin: 0;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
/* line 19, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_geren dl dd {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 0;
}
/* line 24, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_geren dl dd i {
  color: #FF0000;
  font-family: Verdana;
  font-size: 18px;
}
/* line 29, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_geren dl dd .lijichongz {
  background: none repeat scroll 0 0 #FF4400;
  color: #FFFFFF;
  margin: 0 5px;
  padding: 5px 10px;
}
/* line 35, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_geren dl dd .suoqu {
  color: #3366CC;
  font-size: 14px;
}
/* line 39, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_geren dl dd u {
  color: #CCCCCC;
  margin: 0 10px;
}

/* line 46, ../../../bag/sass/host/member/user-account.scss */
.blank10 {
  clear: both;
  height: 10px;
  overflow: hidden;
  width: auto;
}

/* line 52, ../../../bag/sass/host/member/user-account.scss */
.switch-check {
  position: absolute;
  visibility: hidden;
}

/* line 56, ../../../bag/sass/host/member/user-account.scss */
.switch-label:before {
  background: radial-gradient(circle at 45% 50%, #ff3a3a 0%, #ff7171 100%) repeat scroll 0 0 transparent;
  border: 1px solid #742323;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 2px 5px rgba(255, 67, 48, 0.6), 0 0 5px rgba(255, 159, 109, 0.5) inset;
  content: "";
  display: block;
  height: 10px;
  left: -20%;
  position: absolute;
  top: 8px;
  transition: all 0.2s ease 0s;
  width: 10px;
  z-index: 12;
}

/* line 71, ../../../bag/sass/host/member/user-account.scss */
.switch-label:after {
  background: radial-gradient(circle at 45% 50%, rgba(60, 60, 60, 0.6) 0%, rgba(151, 151, 151, 0.6) 100%) repeat scroll 0 0 transparent;
  border: 1px solid #111111;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 2px 5px rgba(20, 20, 20, 0.5);
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  right: -20%;
  top: 8px;
  transition: all 0.2s ease 0s;
  width: 10px;
  z-index: 12;
}

/* line 86, ../../../bag/sass/host/member/user-account.scss */
.switch-label {
  cursor: pointer;
  display: block;
  height: 42px;
  text-indent: -9999px;
  width: 115px;
}
/* line 92, ../../../bag/sass/host/member/user-account.scss */
.switch-label span {
  background: linear-gradient(#4F4F4F, #2B2B2B) repeat scroll 0 0 transparent;
  border: 1px solid #1A1A1A;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  display: block;
  height: 20px;
  left: 1px;
  position: absolute;
  top: 1px;
  transition: all 0.2s linear 0s;
  width: 53px;
}
/* line 105, ../../../bag/sass/host/member/user-account.scss */
.switch-label span:before {
  background: -moz-linear-gradient(left center, rgba(48, 48, 48, 0.4), rgba(34, 34, 34, 0.4)) repeat scroll 0 0 transparent;
  border-radius: 30px 10px 10px 30px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2) inset;
  content: "";
  display: block;
  height: 18px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 21px;
}
/* line 117, ../../../bag/sass/host/member/user-account.scss */
.switch-label .switch-label span:after {
  background: -moz-linear-gradient(right center, rgba(48, 48, 48, 0.4), rgba(34, 34, 34, 0.4)) repeat scroll 0 0 transparent;
  border-radius: 10px 30px 30px 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2) inset;
  content: "";
  display: block;
  height: 18px;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 21px;
}

/* line 130, ../../../bag/sass/host/member/user-account.scss */
.switch-check:checked + .switch-label span {
  left: 59px;
}

/* line 133, ../../../bag/sass/host/member/user-account.scss */
.switch-check:checked + .switch-label:before {
  background: radial-gradient(circle at 45% 50%, rgba(60, 60, 60, 0.6) 0%, rgba(151, 151, 151, 0.6) 100%) repeat scroll 0 0 transparent;
  border: 1px solid #111111;
  box-shadow: 0 2px 5px rgba(20, 20, 20, 0.5);
}

/* line 138, ../../../bag/sass/host/member/user-account.scss */
.switch-check:checked + .switch-label:after {
  background: radial-gradient(circle at 45% 50%, #80d7ff 0%, #c5edff 100%) repeat scroll 0 0 transparent;
  border: 1px solid #004562;
  box-shadow: 0 2px 5px rgba(81, 208, 255, 0.5), 0 0 5px rgba(210, 243, 255, 0.5) inset;
}

/* line 144, ../../../bag/sass/host/member/user-account.scss */
.yue_bj b {
  color: #FF0000;
  float: left;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
/* line 151, ../../../bag/sass/host/member/user-account.scss */
.yue_bj .switch {
  background-color: rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(58, 58, 58, 0.1);
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5) inset;
  float: left;
  height: 24px;
  margin: 0 30px;
  position: relative;
  width: 115px;
}

/* line 168, ../../../bag/sass/host/member/user-account.scss */
.jibenziliao .huiytitle_01 ul li {
  float: left;
  font-size: 14px;
  width: 100%;
}
/* line 172, ../../../bag/sass/host/member/user-account.scss */
.jibenziliao .huiytitle_01 ul li b {
  border-bottom: medium none;
  color: #555555;
  display: block;
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 100px;
}
/* line 180, ../../../bag/sass/host/member/user-account.scss */
.jibenziliao .huiytitle_01 ul li b i {
  color: #FF0000;
  margin: 0 5px;
}
/* line 185, ../../../bag/sass/host/member/user-account.scss */
.jibenziliao .huiytitle_01 ul li span {
  display: block;
  float: left;
}
/* line 192, ../../../bag/sass/host/member/user-account.scss */
.jibenziliao .huiytitle_01 .jiben_title {
  border-bottom: 1px dotted #CCCCCC;
  display: block;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  width: 100%;
}

/* line 204, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_input {
  margin: 0 85px;
}
/* line 206, ../../../bag/sass/host/member/user-account.scss */
.huiyuan_input a {
  background: none repeat scroll 0 0 #FF4400;
  color: #FFFFFF;
  margin: 0 5px;
  padding: 5px 20px;
}

/* line 217, ../../../bag/sass/host/member/user-account.scss */
.zhanneix a {
  color: #041E39;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
/* line 224, ../../../bag/sass/host/member/user-account.scss */
.zhanneix a:hover {
  text-decoration: underline;
}
/* line 227, ../../../bag/sass/host/member/user-account.scss */
.zhanneix .time_span {
  float: right;
}
/* line 230, ../../../bag/sass/host/member/user-account.scss */
.zhanneix img {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}
/* line 235, ../../../bag/sass/host/member/user-account.scss */
.zhanneix .split {
  border-bottom: 1px dashed #CDD2D7;
}

/* line 239, ../../../bag/sass/host/member/user-account.scss */
.zhanneirong {
  margin: 0 0 40px;
}
/* line 241, ../../../bag/sass/host/member/user-account.scss */
.zhanneirong h4 {
  font-size: 14px;
}
/* line 244, ../../../bag/sass/host/member/user-account.scss */
.zhanneirong p {
  color: #555555;
  text-indent: 2em;
}
/* line 248, ../../../bag/sass/host/member/user-account.scss */
.zhanneirong .fr {
  float: right;
}
/* line 251, ../../../bag/sass/host/member/user-account.scss */
.zhanneirong div {
  color: #555555;
  margin: 6px 0;
}

/* line 256, ../../../bag/sass/host/member/user-account.scss */
.tip_no_data {
  font-size: 16px;
  color: #EE9A00;
  text-align: center;
  margin: 30px 0 0 0;
}

/* line 264, ../../../bag/sass/host/member/user-account.scss */
#edit-contact, #edit-timezone, .tabs {
  display: none;
}

/* line 270, ../../../bag/sass/host/member/user-account.scss */
.my_info label, .security label {
  float: left;
  font-size: 13px;
  padding-top: 3px;
  text-align: right;
  width: 160px;
}
/* line 277, ../../../bag/sass/host/member/user-account.scss */
.my_info input, .security input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A6A6A6 #CCCCCC #CCCCCC;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  padding: 7px 9px;
  width: 200px;
  margin-left: 5px;
}
/* line 292, ../../../bag/sass/host/member/user-account.scss */
.my_info select, .security select {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A6A6A6 #CCCCCC #CCCCCC;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  padding: 5px 0 4px 6px;
  margin-left: 5px;
}
/* line 308, ../../../bag/sass/host/member/user-account.scss */
.my_info #edit-submit, .my_info #edit-save, .my_info #edit-user-picture-0-remove-button, .security #edit-submit, .security #edit-save, .security #edit-user-picture-0-remove-button {
  background-color: #FF4400;
  background-position: right -676px;
  background-repeat: no-repeat;
  color: #FFFFFF;
  height: 31px;
  line-height: 31px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 22px;
  border: 0 none;
  margin-left: 200px;
  width: 55px;
  border-radius: 3px 3px 3px 3px;
}

/* line 327, ../../../bag/sass/host/member/user-account.scss */
.my_info .tip {
  color: #F89727;
  font-size: 13px;
  font-weight: bold;
}
/* line 332, ../../../bag/sass/host/member/user-account.scss */
.my_info #edit-user-picture-0-remove-button {
  height: 24px;
  width: 62px;
  margin: 0;
  font-size: 12px;
  background: none repeat scroll 0 0 #3366CC;
}

/* line 343, ../../../bag/sass/host/member/user-account.scss */
.security div {
  margin-bottom: 20px;
}
/* line 346, ../../../bag/sass/host/member/user-account.scss */
.security label {
  width: 190px;
}
/* line 349, ../../../bag/sass/host/member/user-account.scss */
.security select {
  width: 200px;
}

/* line 355, ../../../bag/sass/host/member/user-account.scss */
.zonge {
  background-color: #FFFBE9;
  border: 1px solid #C1C2C3;
  border-radius: 5px 5px 5px 5px;
  float: left;
  padding: 20px;
  width: 95%;
}
/* line 362, ../../../bag/sass/host/member/user-account.scss */
.zonge ul li {
  float: left;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  width: 100%;
}
/* line 368, ../../../bag/sass/host/member/user-account.scss */
.zonge ul li span {
  float: left;
  font-weight: bold;
  width: 100px;
  text-align: right;
}
/* line 374, ../../../bag/sass/host/member/user-account.scss */
.zonge ul li i {
  color: #FF0000;
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  padding-left: 15px;
}

/* line 384, ../../../bag/sass/host/member/user-account.scss */
.zhangmuxx .green {
  color: green;
}
/* line 387, ../../../bag/sass/host/member/user-account.scss */
.zhangmuxx .font_12 {
  text-transform: none;
  font-size: 14px;
}
/* line 393, ../../../bag/sass/host/member/user-account.scss */
.zhangmuxx .goumai_biaodan tr .red {
  color: #FF0000;
}

/* line 2, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_01 {
  height: 120px;
  margin-top: 10px;
  width: 100%;
}
/* line 6, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_01 img {
  float: left;
  height: 90px;
  width: 90px;
}
/* line 11, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_01 dl {
  float: left;
  margin: 0 20px;
}
/* line 14, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_01 dl dt, .anquanxinx .anquan_01 dl dd {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 0;
}
/* line 19, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_01 dl dt a, .anquanxinx .anquan_01 dl dd a {
  color: #3366CC;
  font-size: 14px;
  margin: 0 20px;
}
/* line 27, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .jindutiao {
  background: none repeat scroll 0 0 #F1F1F1;
  border: 1px solid #E2E2E2;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 20px 0;
  padding: 20px;
}
/* line 36, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .jindutiao span img {
  margin: 0 10px;
  height: 15px;
}
/* line 41, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .jindutiao a {
  color: #3366CC;
  font-size: 14px;
  margin: 0 20px;
}
/* line 48, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li {
  border-bottom: 1px dotted #EEEEEE;
  float: left;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  width: 100%;
}
/* line 55, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li a, .anquanxinx .anquan_02 li b, .anquanxinx .anquan_02 li span {
  display: block;
  float: left;
  margin: 0 10px;
  width: 90px;
}
/* line 61, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li a {
  color: #3366CC;
  font-size: 14px;
}
/* line 65, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li span {
  color: #5B970D;
  padding-left: 22px;
}
/* line 69, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li .set {
  background: url("/themes/xunyun/images/icon_13.png") no-repeat scroll 0 center transparent;
}
/* line 72, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li p {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 20px;
  margin: 10px 10px 0;
  width: 380px;
}

/* line 85, ../../../bag/sass/host/member/user-safe.scss */
.pwd_div .password-strength {
  float: right;
  margin-right: 12px;
}
/* line 90, ../../../bag/sass/host/member/user-safe.scss */
.pwd_div label {
  float: left;
  font-size: 13px;
  padding-top: 3px;
  text-align: right;
  width: 160px;
}
/* line 97, ../../../bag/sass/host/member/user-safe.scss */
.pwd_div #edit-save {
  background-color: #FF4400;
  background-position: right -676px;
  background-repeat: no-repeat;
  color: #FFFFFF;
  height: 31px;
  line-height: 31px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 22px;
  border: 0 none;
  margin-left: 200px;
  width: 55px;
}
/* line 111, ../../../bag/sass/host/member/user-safe.scss */
.pwd_div input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A6A6A6 #CCCCCC #CCCCCC;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  height: 14px;
  line-height: 14px;
  padding: 7px 9px;
  width: 200px;
  margin-left: 5px;
}

/* line 129, ../../../bag/sass/host/member/user-safe.scss */
.certificate-manage-form input.button {
  background: none repeat scroll 0 0 #FF4400;
  border: medium none;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  margin: 0 5px;
  padding: 5px 20px;
}

/* line 1, ../../../bag/sass/host/member/member-center.scss */
.huiyuan_01 {
  background-color: #FFFFFF;
  border: 1px solid #C9C9C9;
  border-radius: 6px 6px 6px 6px;
  height: 130px;
  overflow: hidden;
}
/* line 7, ../../../bag/sass/host/member/member-center.scss */
.huiyuan_01 .fl {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 11, ../../../bag/sass/host/member/member-center.scss */
.huiyuan_01 .huiyuan_geren {
  width: 600px;
}
/* line 14, ../../../bag/sass/host/member/member-center.scss */
.huiyuan_01 .xiugai {
  float: left;
  line-height: 30px;
  margin: 30px 25px 0;
}

/* line 22, ../../../bag/sass/host/member/member-center.scss */
.huiyuan_beijing {
  background: -moz-linear-gradient(center top, #F9F9FB, #EDEEF0) repeat scroll 0 0 transparent;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
  float: left;
  height: 130px;
  padding: 20px;
  width: 438px;
}

/* line 30, ../../../bag/sass/host/member/member-center.scss */
.gaofang {
  float: left;
  height: 32px;
  line-height: 32px;
  width: 438px;
}
/* line 35, ../../../bag/sass/host/member/member-center.scss */
.gaofang img {
  float: left;
  margin: 0 20px;
}
/* line 39, ../../../bag/sass/host/member/member-center.scss */
.gaofang p {
  float: left;
  font-size: 14px;
}

/* line 44, ../../../bag/sass/host/member/member-center.scss */
.gaofang_01, .gaofang_02 {
  float: left;
  text-align: center;
  width: 219px;
}
/* line 48, ../../../bag/sass/host/member/member-center.scss */
.gaofang_01 p, .gaofang_02 p {
  font-size: 14px;
  line-height: 28px;
}
/* line 52, ../../../bag/sass/host/member/member-center.scss */
.gaofang_01 u, .gaofang_02 u {
  color: #FF0000;
  font-family: Verdana;
  font-size: 18px;
}

/* line 59, ../../../bag/sass/host/member/member-center.scss */
.cpfw_01 {
  border: 1px solid #DADADA;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 2px rgba(150, 150, 150, 0.5);
  float: left;
  height: 130px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  width: 320px;
}
/* line 69, ../../../bag/sass/host/member/member-center.scss */
.cpfw_01 h4 {
  background: -moz-linear-gradient(center top, #EDEEF0, #DCDDDF) repeat scroll 0 0 transparent;
  display: block;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin: 0;
}
/* line 78, ../../../bag/sass/host/member/member-center.scss */
.cpfw_01 a {
  color: #041E39;
  float: left;
  font-size: 14px;
  margin: 5px 10px;
}
/* line 84, ../../../bag/sass/host/member/member-center.scss */
.cpfw_01 span {
  float: left;
  font-size: 24px;
  margin: 20px;
}
/* line 88, ../../../bag/sass/host/member/member-center.scss */
.cpfw_01 span i {
  color: #FF0000;
  font-family: Verdana;
  font-size: 24px;
}

/* line 95, ../../../bag/sass/host/member/member-center.scss */
.margin_01 {
  margin: 20px 45px;
}

/* line 99, ../../../bag/sass/host/member/member-center.scss */
.chanping_fuw {
  background-color: #FFFFFF;
  border: 1px solid #C9C9C9;
  border-radius: 6px 6px 6px 6px;
  overflow: hidden;
  padding: 10px 20px;
}

/* line 6, ../../../bag/sass/host/member/base-user.scss */
#main .t-left-sidebars {
  font-family: Arial,Helvetica,sans-serif;
  width: 25%;
}
/* line 9, ../../../bag/sass/host/member/base-user.scss */
#main .t-left-sidebars nav {
  background: none repeat scroll 0 0 #FBFBFC;
  border-top-left-radius: 5px;
  height: 100%;
  overflow: hidden;
}
/* line 14, ../../../bag/sass/host/member/base-user.scss */
#main .t-left-sidebars nav h2 {
  background: none repeat scroll 0 0 #041E39;
  color: #FFFFFF;
  display: block;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0;
}
/* line 24, ../../../bag/sass/host/member/base-user.scss */
#main .t-left-sidebars nav ul {
  margin: 0;
}
/* line 26, ../../../bag/sass/host/member/base-user.scss */
#main .t-left-sidebars nav ul li {
  height: 45px;
  line-height: 45px;
  width: 100%;
  padding-top: 0;
}
/* line 31, ../../../bag/sass/host/member/base-user.scss */
#main .t-left-sidebars nav ul li:hover {
  background: none;
}
/* line 33, ../../../bag/sass/host/member/base-user.scss */
#main .t-left-sidebars nav ul li:hover a {
  color: #ffc000;
}
/* line 37, ../../../bag/sass/host/member/base-user.scss */
#main .t-left-sidebars nav ul li .is-active {
  background: none repeat scroll 0 0 #2B8AE8;
  color: #FFFFFF;
}
/* line 41, ../../../bag/sass/host/member/base-user.scss */
#main .t-left-sidebars nav ul li a {
  float: none;
  border-bottom: 1px solid #F8F8F8;
  color: #041E39;
  display: block;
  font-size: 16px;
  padding-left: 100px;
}
/* line 49, ../../../bag/sass/host/member/base-user.scss */
#main .t-left-sidebars nav ul li a:hover {
  background: none repeat scroll 0 0 #2B8AE8;
  color: #FFFFFF;
}

/* line 57, ../../../bag/sass/host/member/base-user.scss */
a, u {
  font-size: 12px;
  text-decoration: none;
}

/* line 62, ../../../bag/sass/host/member/base-user.scss */
.Order_title {
  border-bottom: 2px solid #CDD2D7;
  color: #333333;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
/* line 69, ../../../bag/sass/host/member/base-user.scss */
.Order_title b {
  border-bottom: 2px solid #041E39;
  color: #041E39;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

/* line 78, ../../../bag/sass/host/member/base-user.scss */
i {
  font-style: normal;
}

/* line 82, ../../../bag/sass/host/member/base-user.scss */
ul, ol {
  list-style-type: none;
}

/* line 86, ../../../bag/sass/host/member/base-user.scss */
.font_12 {
  color: #3366CC;
  font-size: 12px;
  float: right;
}

/* line 91, ../../../bag/sass/host/member/base-user.scss */
nav.pager {
  width: 50%;
  float: right;
  margin: 0 0 10px 0;
  height: auto;
}
/* line 97, ../../../bag/sass/host/member/base-user.scss */
nav.pager ul li {
  background: none;
  border: 1px solid #CCCCCC;
  padding: 4px 12px;
  text-decoration: none;
  margin-left: 5px;
  float: none;
  height: auto;
  width: auto;
}
/* line 106, ../../../bag/sass/host/member/base-user.scss */
nav.pager ul li a {
  color: #041E39;
  float: none;
  height: auto;
  margin: 0;
  font-size: 14px;
}
/* line 114, ../../../bag/sass/host/member/base-user.scss */
nav.pager ul li.is-active {
  background: none repeat scroll 0 0 #041E39;
  border: 1px solid #041E39;
}
/* line 117, ../../../bag/sass/host/member/base-user.scss */
nav.pager ul li.is-active a {
  color: #FFFFFF;
}
