/* line 2, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_01 {
  height: 120px;
  margin-top: 10px;
  width: 100%;
}
/* line 6, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_01 img {
  float: left;
  height: 90px;
  width: 90px;
}
/* line 11, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_01 dl {
  float: left;
  margin: 0 20px;
}
/* line 14, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_01 dl dt, .anquanxinx .anquan_01 dl dd {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 0;
}
/* line 19, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_01 dl dt a, .anquanxinx .anquan_01 dl dd a {
  color: #3366CC;
  font-size: 14px;
  margin: 0 20px;
}
/* line 27, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .jindutiao {
  background: none repeat scroll 0 0 #F1F1F1;
  border: 1px solid #E2E2E2;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 20px 0;
  padding: 20px;
}
/* line 36, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .jindutiao span img {
  margin: 0 10px;
  height: 15px;
}
/* line 41, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .jindutiao a {
  color: #3366CC;
  font-size: 14px;
  margin: 0 20px;
}
/* line 48, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li {
  border-bottom: 1px dotted #EEEEEE;
  float: left;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  width: 100%;
}
/* line 55, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li a, .anquanxinx .anquan_02 li b, .anquanxinx .anquan_02 li span {
  display: block;
  float: left;
  margin: 0 10px;
  width: 90px;
}
/* line 61, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li a {
  color: #3366CC;
  font-size: 14px;
}
/* line 65, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li span {
  color: #5B970D;
  padding-left: 22px;
}
/* line 69, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li .set {
  background: url("/themes/xunyun/images/icon_13.png") no-repeat scroll 0 center transparent;
}
/* line 72, ../../../bag/sass/host/member/user-safe.scss */
.anquanxinx .anquan_02 li p {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 20px;
  margin: 10px 10px 0;
  width: 380px;
}

/* line 85, ../../../bag/sass/host/member/user-safe.scss */
.pwd_div .password-strength {
  float: right;
  margin-right: 12px;
}
/* line 90, ../../../bag/sass/host/member/user-safe.scss */
.pwd_div label {
  float: left;
  font-size: 13px;
  padding-top: 3px;
  text-align: right;
  width: 160px;
}
/* line 97, ../../../bag/sass/host/member/user-safe.scss */
.pwd_div #edit-save {
  background-color: #FF4400;
  background-position: right -676px;
  background-repeat: no-repeat;
  color: #FFFFFF;
  height: 31px;
  line-height: 31px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 22px;
  border: 0 none;
  margin-left: 200px;
  width: 55px;
}
/* line 111, ../../../bag/sass/host/member/user-safe.scss */
.pwd_div input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A6A6A6 #CCCCCC #CCCCCC;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  height: 14px;
  line-height: 14px;
  padding: 7px 9px;
  width: 200px;
  margin-left: 5px;
}

/* line 129, ../../../bag/sass/host/member/user-safe.scss */
.certificate-manage-form input.button {
  background: none repeat scroll 0 0 #FF4400;
  border: medium none;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  margin: 0 5px;
  padding: 5px 20px;
}
