/* line 1, ../../../bag/sass/host/member/user-login.scss */
*::before, *::after {
  box-sizing: border-box;
}

/* line 4, ../../../bag/sass/host/member/user-login.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

/* line 7, ../../../bag/sass/host/member/user-login.scss */
div[role=alert], div[role=contentinfo] {
  margin: 0 auto;
  text-align: center;
  color: #999;
}

/* line 13, ../../../bag/sass/host/member/user-login.scss */
div[role=alert] {
  width: 450px;
}

/* line 18, ../../../bag/sass/host/member/user-login.scss */
.user-register-content, .user-pass-content, .login-content {
  color: #999;
  margin: 0 auto;
  width: 450px;
}
/* line 23, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .m-b-20, .user-pass-content .m-b-20, .login-content .m-b-20 {
  margin-bottom: 20px !important;
}
/* line 26, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .form-group, .user-pass-content .form-group, .login-content .form-group {
  margin-bottom: 15px;
}
/* line 29, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .form-control, .user-pass-content .form-control, .login-content .form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
/* line 44, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .form-control, .user-pass-content .form-control, .login-content .form-control {
  border: 1px solid #ccd0d4;
  border-radius: 3px;
  box-shadow: none;
  font-size: 12px;
}
/* line 50, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .input-lg, .user-register-content .form-group-lg .form-control, .user-pass-content .input-lg, .user-pass-content .form-group-lg .form-control, .login-content .input-lg, .login-content .form-group-lg .form-control {
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 16px;
}
/* line 58, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .login-buttons .btn, .user-pass-content .login-buttons .btn, .login-content .login-buttons .btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 74, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .login-buttons .btn-success, .user-pass-content .login-buttons .btn-success, .login-content .login-buttons .btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}
/* line 79, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .login-buttons .btn-lg, .user-register-content .login-buttons .btn-group-lg > .btn, .user-pass-content .login-buttons .btn-lg, .user-pass-content .login-buttons .btn-group-lg > .btn, .login-content .login-buttons .btn-lg, .login-content .login-buttons .btn-group-lg > .btn {
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 16px;
}
/* line 85, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .login-buttons .btn-block, .user-pass-content .login-buttons .btn-block, .login-content .login-buttons .btn-block {
  display: block;
  width: 100%;
}
/* line 89, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .login-buttons .btn, .user-pass-content .login-buttons .btn, .login-content .login-buttons .btn {
  border-radius: 3px;
  font-weight: 300;
}
/* line 93, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .login-buttons .btn-success, .user-pass-content .login-buttons .btn-success, .login-content .login-buttons .btn-success {
  background: #00acac none repeat scroll 0 0;
  border-color: #00acac;
  color: #fff;
  width: 108%;
}
/* line 99, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .login-buttons .btn .btn-success, .user-pass-content .login-buttons .btn .btn-success, .login-content .login-buttons .btn .btn-success {
  background: #00acac none repeat scroll 0 0;
  border-color: #00acac;
  color: #fff;
}
/* line 105, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .m-t-20, .user-pass-content .m-t-20, .login-content .m-t-20 {
  margin-top: 20px !important;
}
/* line 107, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .m-t-20 a, .user-pass-content .m-t-20 a, .login-content .m-t-20 a {
  color: red;
}

/* line 113, ../../../bag/sass/host/member/user-login.scss */
.user-register-content .form-item {
  max-width: none;
  overflow: visible;
}
