/* line 1, ../../bag/sass/host/base-style.scss */
.blank5 {
  height: 5px;
  width: auto;
  clear: both;
  overflow: hidden;
}

/* line 7, ../../bag/sass/host/base-style.scss */
.blank10 {
  height: 10px;
  width: auto;
  clear: both;
  overflow: hidden;
}

/* line 13, ../../bag/sass/host/base-style.scss */
.blank12 {
  height: 12px;
  width: auto;
  clear: both;
  overflow: hidden;
}

/* line 19, ../../bag/sass/host/base-style.scss */
.blank15 {
  height: 15px;
  width: auto;
  clear: both;
  overflow: hidden;
}

/* line 25, ../../bag/sass/host/base-style.scss */
.blank20 {
  height: 20px;
  width: auto;
  clear: both;
  overflow: hidden;
}

/* line 31, ../../bag/sass/host/base-style.scss */
.blank30 {
  height: 30px;
  width: auto;
  clear: both;
  overflow: hidden;
}

/* line 37, ../../bag/sass/host/base-style.scss */
.blank35 {
  height: 35px;
  width: auto;
  clear: both;
  overflow: hidden;
}

/* line 43, ../../bag/sass/host/base-style.scss */
.blank40 {
  height: 40px;
  width: auto;
  clear: both;
  overflow: hidden;
}

/* line 49, ../../bag/sass/host/base-style.scss */
.blank50 {
  height: 50px;
  width: auto;
  clear: both;
  overflow: hidden;
}

/* line 55, ../../bag/sass/host/base-style.scss */
.blank80 {
  height: 80px;
  width: auto;
  clear: both;
  overflow: hidden;
}
