<div class="container-fluid" >
	<div style='width: 500px;height: 100px;font-size: 25px;' ><span >在线联系后台</span></div>
	<div style='font-size: 20px;'><img src="img/online.jpg" width="25" height="25"> <span >查看洽谈工单 <label>ID1</label>  </span></div>
	<div>
		<ul class="list-group">
		  <li class="list-group-item list-group-item-success">
		  	<labell>Name:lanling</labell>
		  </li>
		  <li class="list-group-item list-group-item-info">
		  	<labell>Email:370074429@qq.com</labell>
		  </li>
		</ul>
	</div>
	<div class='online-content'>
		<form>
			<div>
				<label class="control-label"><img src="img/online.jpg" width="25" height="25"> 李翔鹤 </label>
				<textarea class="form-control" rows="2"></textarea>
			</div>
			<div>
				<label class="control-label" style="margin-left: 830px;"><img align="" src="img/online.jpg" width="25" height="25"> 张三 </label>
				<textarea class="form-control" rows="2"></textarea>
			</div>
			<div style="margin-top: 50px;">
				<button type="button" class="btn btn-info"  name='return' ><<返回</button>
				<button type="button" class="btn btn-info"  name='reply' >回复</button>
				<button type="button" class="btn btn-danger"  name='close' >关闭</button>
			</div>
		</form>
	</div>
</div>