{#
/**
 * @file
 * 顶端登录信息区块
 *
 * Availabel variables:
 *
 * - non_login: 会员是否已经登录. TRUE,未登录。 FALSE,已登录
 * - username: 会员名
 * - xufei: 待续费数
 * - letters: 未读站内信数
 */
#}
<span id="block-tips-top">
  <a href="{{ tips.login_url }}">登录</a>|
  <a href="{{ tips.reg_url }}">注册</a>|
  <a href="#" class="yinwen">英文</a>
</span>
