<div id="contact-us">
  <div class="title">联系我们</div>
  <div class="lianxi_list">
    <p><b>地址：</b>Unit A1, 7/F, Cheuk Nang Plaza 250 Hennessy Road, Wanchai, Hong Kong</p>
    <p><b>香港地址：</b>香港灣仔軒尼詩道250號卓能廣場7樓A1室</p>
    <p><b>邮编：</b>999077</p>
    <p><b>邮箱：</b>abuse@itace.cc</p>
    <p><b>电话：</b>+86 153 9008 9108</p>
  </div>
</div>
