<div class="banquan">
  <div class="blank30"></div>
  <p>Itace.net 是一家香港服务器行业中DDOS防御的领袖。同时，Itace集成了该行业的最佳技术，</p>
  <p>为每个客户提供一切服务器需要.我们的核心产品包括服务器高防、管理服务器托管,云托管等</p>
  <p> © 2001 – 2015  All Rights Reserved</p>
  <span><img src="{{ base_path }}/{{ directory }}/images/banquan.jpg"></span>
  <div class="blank30"></div>
</div>
