<section class="page1" >
  <div class="pagetop_01">
    <h1>Hostspaces一直提供高品质的云服务器</h1>
    <p>使用Hostspaces太棒了！</p>
    <ul>
      <li><a href="#"  class="img_01"><b>服务器租用</b></a></li>
      <li><a href="#" class="img_02"><b>云服务器</b></a></li>
      <li><a href="#" class="img_03"><b>解决方案</b></a></li>
      <li><a href="#" class="img_04"><b>代理加盟</b></a></li>
      <li><a href="#" class="img_05"><b>我们的网络</b></a></li>
    </ul>
    <div class="blank20"></div>
    <div class="shubiao"><a href="#"><img src="images/mousescroller-anim.gif" width="42" height="91"></a></div>
  </div>
</section>
<section class="page2">
  <div class="fuwuq_zuyong">
    <h2>服务器租用</h2>
    <h3>Server rental</h3>
    <p> 拥有强大的自我配置能力的专用虚拟主机服务器</p>
    <ul>
      <li><a href="#">商务一级服务器</a></li>
      <li><a href="#">商务二级服务器</a></li>
      <li><a href="#">商务三级服务器</a></li>
      <li><a href="#">商务四级服务器</a></li>
    </ul>
    <img src="images/index_06.png"> </div>
</section>
<section class="page3">
  <div class="yunfuwuq">
    <h2>云服务器</h2>
    <h3>The cloud server</h3>
    <p> 云服务器和线程池可以根据
      您的需要扩展与增强</p>
    <img src="images/index_08.png"> </div>
</section>
<section class="page4">
  <div class="jiejuefan">
    <h2>解决方案</h2>
    <h3>The solution</h3>
    <p>有多种选择方案增强您的专用和
      云服务器的企业应用套件</p>
    <ul>
      <li><img src="images/indexpic_01.jpg"><a href="#">存储</a></li>
      <li><img src="images/indexpic_02.jpg"><a href="#">高级防火墙</a></li>
    </ul>
  </div>
</section>
<section class="page5">
  <div class="dailijiamneg">
    <h2>代理加盟</h2>
    <h3>Agent to join</h3>
    <p> 基于Hostspaces的基础设施和支持,
      建立和发展您的服务器业务。</p>
    <span><img src="images/indexpic_03.jpg" class="img_06"> <img src="images/indexpic_04.jpg" class="img_07"><img src="images/indexpic_05.jpg" class="img_08"></span> </div>
</section>
<section class="page6">
  <div class="wangluo">
    <h2>我们的网络</h2>
    <h3>Our network</h3>
    <p> Hostspaces运行在VPLS网络中拥有超过容量200Gbps和超过同行。我们和大型电信运营商的多元化直接过境范围，确保我们在世界各地的客户的网络的稳定和快速的速度。Hostspaces有能力重新路由通过我们的任何中转站流量。 </p>
    <a href="#">阅读更多</a> </div>
</section>
<section class="page7">
  <div class="aboutus">
    <h2>关于我们</h2>
    <h3>About us</h3>
    <p> Hostspaces一直提供高品质的主机，因为我们在2011年成立以来，为什么世界各地的数千名客户的选择，并依靠Hostspaces的原因是因为我们的基础设施，网络，技术和我们的高素质的员工。了解更多关于什么使Hostspaces太棒了！ </p>
    <a href="#">阅读更多</a>
    <div class="about_01"><img src="images/index_09.png"></div>
  </div>
</section>
<section class="page8">
  <div class="wangluo">
    <h2>云邮件</h2>
    <h3>Cloud mail</h3>
    <p> 看它如何应对竟争<br>
      功能丰富的托管解决方案，这将提高公司的生产效率和增加协作。不需要关心自己的邮件服务的运行，由我们来处理技术，同时您可更集中精力发展公司业务。 </p>
    <a href="#">开始吧</a> </div>
</section>