@import "host/member/user-account";
@import "host/member/user-safe";
@import "host/member/member-center";
 
// ===== 导航菜单 ========
#main .t-left-sidebars{
  font-family: Arial,Helvetica,sans-serif;
  width: 25%;
  nav {
    background: none repeat scroll 0 0 #FBFBFC;
    border-top-left-radius: 5px;
    height: 100%;
    overflow: hidden;
    h2 {
      background: none repeat scroll 0 0 #041E39;
      color: #FFFFFF;
      display: block;
      font-size: 20px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      margin: 0;
    }
    ul {
      margin: 0;
      li {
        height: 45px;
        line-height: 45px;
        width: 100%;
        padding-top: 0;
        &:hover{
          background: none;
          a {
            color:#ffc000;
          }
        }
        .is-active {
          background: none repeat scroll 0 0 #2B8AE8;
          color: #FFFFFF;
        }
        a {
          float: none;
          border-bottom: 1px solid #F8F8F8;
          color: #041E39;
          display: block;
          font-size: 16px;
          padding-left: 100px;
        }
        a:hover {
          background: none repeat scroll 0 0 #2B8AE8;
          color: #FFFFFF;
        }
      }
    }
  }
}
a, u {
  font-size: 12px;
  text-decoration: none;
}

.Order_title {
  border-bottom: 2px solid #CDD2D7;
  color: #333333;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  b {
    border-bottom: 2px solid #041E39;
    color: #041E39;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
  }
}
i {
  font-style: normal;
}

ul, ol {
    list-style-type: none;
}

.font_12 {
  color: #3366CC;
  font-size: 12px;
  float: right;
}
nav.pager {
  width: 50%;
  float: right;
  margin: 0 0 10px 0;
  height: auto;
  ul {
    li {
      background: none;
      border: 1px solid #CCCCCC;
      padding: 4px 12px;
      text-decoration: none;
      margin-left: 5px;
      float: none;
      height: auto;
      width: auto;
      a {
        color: #041E39;
        float: none;
        height: auto;
        margin: 0;
        font-size: 14px;
      }
    }
    li.is-active {
      background: none repeat scroll 0 0 #041E39;
      border: 1px solid #041E39;
      a {
        color: #FFFFFF;
      }
    }
  }
}

