.carousel-inner>.item>a>img,.carousel-inner>.item>img,.thumbnail a>img,.thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto
}

.btn-group-lg>.btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px
}

.btn-group-sm>.btn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.btn-group-xs>.btn {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before {
	content: " ";
	display: table
}

.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after {
	clear: both
}

body,html {
	min-width: 320px
}

* {
	margin: 0;
	padding: 0
}

ul li {
	list-style: none
}

.clear:after {
	content: ".";
	visibility: hidden;
	clear: both;
	height: 0;
	display: block
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

a,a:active,a:focus,a:hover {
	text-decoration: none
}

.title {
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	background: #f2f2f2
}

.title.row {
	margin: 0;
	padding: 0
}

.title .welcome {
	padding: 0 0 0 .5%
}

.title .welcome a {
	margin-right: 1%;
	color: #000
}

.title .welcome a:hover {
	color: #3d90a2
}

.title .topMenu {
	padding: 0 .5% 0 0
}

.title .topMenu .menuItems {
	display: block;
	text-align: right
}

.title .topMenu .menuItems li {
	display: inline-block;
	margin: 0 .5%
}

.title .topMenu .menuItems li a {
	display: inline-block;
	color: #000;
	position: relative
}

.title .topMenu .menuItems li a span {
	color: #3d90a2;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	margin: 0 8px 0 0
}

.title .topMenu .menuItems li a em {
	position: absolute;
	left: -35px;
	top: -6px
}

.title .topMenu .menuItems li a em img {
	width: 55%
}

.title .topMenu .menuItems li a:active,.title .topMenu .menuItems li a:focus,.title .topMenu .menuItems li a:hover {
	color: #3d90a2
}

.title .topMenu .menuItems li:last-child {
	margin: 0 0 0 .5%
}

.title .topMenu .menuItems .wLanguage {
	position: relative
}

.title .topMenu .menuItems .wLanguage a:active,.title .topMenu .menuItems .wLanguage a:focus,.title .topMenu .menuItems .wLanguage a:hover {
	color: #fff
}

.title .topMenu .menuItems .wLanguage a {
	height: 25px;
	line-height: 25px;
	background: #3d90a2;
	color: #fff;
	border-radius: 2px;
	padding: 0 8px
}

.title .topMenu .menuItems .wLanguage .en {
	position: absolute;
	left: 0;
	top: 32px;
	z-index: 10
}

.title .topMenu .menuItems .wLanguage .en a {
	padding: 0 12px
}

.menu {
	font-size: 16px
}

.menu .navbar-brand {
	width: 200px;
	display: inline-block;
	margin: 0 0 0 -15px;
	padding: 0 0 0 15px
}

.menu .navbar-brand img {
	max-width: 85%;
	display: block
}

.menu .navbar-default {
	background-color: transparent;
	border: none;
	margin: 0
}

.menu .navbar-default .logo .navbar-toggle {
	margin: 0
}

.menu .navbar-default .menu-nav .navbar-nav {
	margin: -10px 0 0
}

.menu .navbar-default .menu-nav .navbar-nav li a:active,.menu .navbar-default .menu-nav .navbar-nav li a:focus,.menu .navbar-default .menu-nav .navbar-nav li a:hover {
	background: #e7e7e7
}

.menu .navbar-default .menu-nav .navbar-nav li {
	display: block;
	text-align: center
}

.menu .navbar-default .menu-nav .navbar-nav li a {
	display: block;
	padding: 0 20px;
	margin: 0;
	height: 80px;
	line-height: 80px
}

.menu .navbar-default .menu-nav .navbar-nav li:last-child {
	padding: 0 0 0 20px
}

.menu .navbar-default .menu-nav .navbar-nav .dropdown .dropdown-menu li,.menu .navbar-default .menu-nav .navbar-nav .dropdown .dropdown-menu li a {
	height: 50px;
	line-height: 50px
}

.menu .navbar-default .menu-nav .navbar-nav .dropdown .dropdown-menu li:last-child {
	padding: 0
}

.breadcrumb {
	background-color: #fafafa;
	border-radius: 0
}

.banner {
	height: 415px;
	background: url(../images/banner_bg.png) #3d90a2;
	padding: 20px;
	margin: -20px 0 0
}

.banner .banner-bg {
	width: 50%;
	margin: 0 auto;
	padding: 20px
}

.banner .banner-bg .banner-head {
	text-align: center
}

.banner .banner-bg .banner-head em {
	font-style: normal;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	display: block
}

.banner .banner-bg .banner-head p {
	margin: 15px auto
}

.banner .banner-bg .banner-body .input-group input {
	height: 60px
}

.banner .banner-bg .banner-body .input-group .input-group-btn button {
	height: 60px;
	border: 1px solid #ccc
}

.banner .banner-bg .banner-body .input-group .input-group-btn span {
	color: #3d90a2;
	line-height: 40px;
	font-size: 30px
}

.banner .banner-bg .banner-body .input-group .btn-default:hover {
	background: #fff
}

.banner .banner-bg .banner-body .input-group .btn-default:active {
	border-color: #ccc;
	box-shadow: none;
	border-left: none
}

.banner .banner-bg .banner-body .banner-mark {
	margin: 20px -15px
}

.banner .banner-bg .banner-body .banner-mark .sub-help,.banner .banner-bg .banner-body .banner-mark .sub-order {
	padding: 10px 20px 20px;
	background: #e4e4e4;
	width: 100%;
	border-radius: 5px;
	text-align: center;
	font-family: "黑体"
}

.banner .banner-bg .banner-body .banner-mark .sub-help h5,.banner .banner-bg .banner-body .banner-mark .sub-order h5 {
	font-size: 22px;
	font-weight: 700;
	color: #666
}

.banner .banner-bg .banner-body .banner-mark .sub-help button,.banner .banner-bg .banner-body .banner-mark .sub-order button {
	padding: 6px 20px;
	background: #3d90a2;
	color: #fff;
	font-size: 20px
}

.banner .banner-bg .banner-body .banner-mark .sub-order {
	float: left
}

.banner .banner-bg .banner-body .banner-mark .sub-help {
	float: right
}

.knowledge-cont .knowledge-head {
	border-bottom: 1px solid #efefef;
	font-size: 20px;
	margin: 20px 0 0;
	padding: 0 0 10px;
	color: #000;
	font-family: '黑体'
}

.knowledge-cont .knowledge-head span {
	display: inline-block;
	margin: 0 10px 0 0
}

.knowledge-cont .question {
	font-size: 20px;
	margin: 20px 0;
	font-weight: 700
}

.knowledge-cont .knowledge-body {
	margin: 20px 0 0
}

.knowledge-cont .knowledge-body .items-cont {
	font-size: 16px;
	font-family: '黑体'
}

.knowledge-cont .knowledge-body .items-cont .items-title {
	border-bottom: 1px solid #efefef;
	margin: 0 0 10px;
	padding: 0 0 10px;
	color: #3d90a2;
	font-size: 20px
}

.knowledge-cont .knowledge-body .items-cont .items-title a {
	color: #3d90a2
}

.knowledge-cont .knowledge-body .items-cont .items-title span {
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 20px;
	color: #666
}

.knowledge-cont .knowledge-body .items-cont .items-title .badge {
	float: right;
	width: 20%;
	background: #3d90a2;
	color: #fff;
	font-weight: 400;
	font-size: 16px
}

.knowledge-cont .knowledge-body .items-cont .items-title .badge a {
	color: #fff;
	display: block;
	padding: 8px 0
}

.knowledge-cont .knowledge-body .items-cont .items ul>li {
	border-bottom: 1px dotted #efefef;
	margin: 8px 0;
	padding: 8px 0
}

.knowledge-cont .knowledge-body .items-cont .items ul>li a {
	color: #666
}

.knowledge-cont .knowledge-body .items-cont .items ul>li a span {
	padding: 0 5px 0 0
}

.knowledge-cont .knowledge-body .items-cont .items ul>li a:active,.knowledge-cont .knowledge-body .items-cont .items ul>li a:focus,.knowledge-cont .knowledge-body .items-cont .items ul>li a:hover {
	color: #3d90a2
}

.knowledge-cont .items-detial {
	margin: 20px 15px 0
}

.knowledge-cont .items-detial .items-admin {
	padding: 0 0 10px;
	border-bottom: 1px solid #efefef
}

.knowledge-cont .items-detial .items-link {
	margin: 10px 0 0
}

.knowledge-cont .items-detial .items-link .items-badge>li {
	display: inline-block;
	margin: 0 10px
}

.knowledge-cont .items-detial .items-link .items-badge>li a {
	font-size: 12px;
	color: #3d90a2
}

.knowledge-cont .items-detial .items-link .items-badge>span {
	background: #3d90a2;
	color: #fff;
	padding: 5px 10px
}

.knowledge-cont .items-detial .items-body span {
	font-size: 24px;
	font-weight: 700;
	display: block;
	margin: 10px 0
}

.knowledge-cont .search-items {
	margin: 20px 0 0
}

.knowledge-cont .search-items ul {
	margin: 0 15px
}

.knowledge-cont .search-items ul>li {
	margin: 0 0 20px;
	padding: 0 0 10px;
	border-bottom: 1px solid #efefef
}

.knowledge-cont .search-items ul>li p i {
	color: #3d90a2
}

.knowledge-cont .search-items ul>li p a {
	font-size: 18px;
	color: #3d90a2
}

.knowledge-cont .search-items ul>li p a:active,.knowledge-cont .search-items ul>li p a:focus,.knowledge-cont .search-items ul>li p a:hover {
	text-decoration: underline
}

.knowledge-cont .search-items ul>li p:nth-child(2) span {
	display: inline-block;
	margin: 0 15px 0 0
}

.knowledge-cont .search-items ul>li p:nth-child(2) span em {
	font-style: normal
}

.knowledge-cont .search-items ul>li p:nth-child(2) span:last-child {
	margin: 0 0 0 15px
}

.knowledge-cont .search-items ul>li p:nth-child(4) .btn-default {
	background-color: #3d90a2;
	color: #fff
}

.footer {
	background-color: transparent
}

footer {
	background: #f2f2f2;
	padding: 20px 0
}

footer .footer-menu {
	margin: 0;
	padding: 0
}

footer .footer-menu .about,footer .footer-menu .order,footer .footer-menu .product,footer .footer-menu .technology {
	font-size: 16px
}

footer .footer-menu .about span,footer .footer-menu .order span,footer .footer-menu .product span,footer .footer-menu .technology span {
	font-size: 20px;
	display: inline-block;
	padding: 0 5px 0 0
}

footer .footer-menu li>ul {
	margin: 10px 0 0;
	border-top: 1px solid #ccc;
	padding: 15px 0 0
}

footer .footer-menu li>ul li {
	display: block
}

footer .footer-menu li>ul li a {
	display: inline-block;
	color: #3d90a2;
	font-size: 14px;
	line-height: 30px
}

footer .footer-menu li>ul li a:active,footer .footer-menu li>ul li a:focus,footer .footer-menu li>ul li a:hover {
	text-decoration: underline
}

.onlineChartCont {
	z-index: 1000;
	position: fixed;
	right: 15px;
	bottom: 0;
	width: 350px
}

.onlineChartCont .onlineChart {
	height: 50px;
	line-height: 50px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #666;
	background-color: #f5f5f5
}

.onlineChartCont .onlineChart em,.onlineChartCont .onlineChart span {
	display: block;
	font-style: inherit;
	font-size: 20px;
	text-align: center
}

.onlineChartCont .onlineChart span {
	position: absolute;
	right: 5px;
	font-size: 20px;
	top: 15px;
	cursor: pointer
}

.onlineChartCont .alertChart {
	width: 350px;
	background-color: #f5f5f5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid #666
}

.onlineChartCont .alertChart .alertHeader {
	position: relative;
	padding: 15px 0;
	background-color: #f0f0f0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}

.onlineChartCont .alertChart .alertHeader em,.onlineChartCont .alertChart .alertHeader span {
	display: block;
	font-style: inherit;
	font-size: 16px;
	padding: 0 0 0 15px;
	text-align: left
}

.onlineChartCont .alertChart .alertHeader span {
	position: absolute;
	right: 5px;
	font-size: 20px;
	top: 15px;
	cursor: pointer
}

.onlineChartCont .alertChart p {
	text-align: center;
	margin: 20px 0 0
}

.onlineChartCont .alertChart .alertForm {
	padding: 30px 20px 0
}

.onlineChartCont .alertChart .alertForm .alertBtn {
	margin: 0 auto;
	display: block;
	padding: 6px 12px;
	color: #fff;
	background-color: #3d90a2
}

.onlineChartCont .alertChart i {
	display: block;
	text-align: right;
	background-color: #f0f0f0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-style: inherit;
	padding: 5px 15px 0 0;
	margin: 10px 0 0
}

.onlineChartCont .alertChartWait {
	min-height: 350px
}

.onlineChartCont .alertChartWait p {
	min-height: 240px
}

.onlineChartCont .alertUserCont {
	margin: 20px 0 0;
	padding: 0 10px
}

.onlineChartCont .alertUserCont .alertUser {
	width: 160px;
	float: left
}

.onlineChartCont .alertUserCont .alertUser .userHead {
	float: left
}

.onlineChartCont .alertUserCont .alertUser .userHead span {
	font-size: 40px;
	padding: 10px 0 0
}

.onlineChartCont .alertUserCont .alertUser .userMess {
	float: left;
	padding: 0 0 0 10px
}

.onlineChartCont .alertUserCont .alertUser .userMess b,.onlineChartCont .alertUserCont .alertUser .userMess em {
	display: block;
	font-style: normal
}

.onlineChartCont .alertUserCont .alertUser .userMess a {
	color: #000
}

.onlineChartCont .alertUserCont .alertUser .userMess a:hover {
	color: #3d90a2
}

.onlineChartCont .alertUserCont .alertLogo {
	width: 160px;
	float: right;
	text-align: right
}

.onlineChartCont .alertUserCont .alertLogo img {
	width: 90%
}

.onlineChartCont .userText .userTextCont {
	overflow-y: auto;
	height: 170px;
	width: 95%;
	margin: 10px auto;
	min-height: 100px;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 0 10px
}

.onlineChartCont .userText .userTextCont li {
	margin: 0 0 10px
}

.onlineChartCont .userText .userTextCont p {
	margin: 0;
	text-align: left
}

.onlineChartCont .userText .userTextCont p span {
	font-size: 12px;
	float: right
}

.onlineChartCont .userText .userTextCont em {
	font-style: normal
}

.onlineChartCont .userText .form-group {
	width: 95%;
	margin: 0 auto
}

.onlineChartCont .closeChartCont p {
	padding: 100px 0 0
}

.onlineChartCont .closeChartCont .form-group .cancelBtn>.btn,.onlineChartCont .closeChartCont .form-group .closeBtn>.btn {
	width: 45%;
	margin: 0 0 0 3%;
	height: 50px;
	float: left;
	color: #fff
}

.onlineChartCont .closeChartCont .form-group .closeBtn>.btn {
	background: #3d90a2
}

.onlineChartCont .closeChartCont .form-group .cancelBtn>.btn {
	background: #da6260
}

.onlineChartCont .InputCont {
	padding: 10px 20px
}

.onlineChartCont .InputCont p {
	margin: 0;
	padding: 0;
	text-align: left
}

.onlineChartCont .InputCont form {
	margin: 20px 0 0;
	color: #666
}

.onlineChartCont .InputCont .checkboxCont,.onlineChartCont .InputCont .radioCont {
	margin: 0 0 10px
}

.onlineChartCont .InputCont .chooseBtn {
	display: block;
	width: 35%;
	background: #3d90a2;
	color: #fff;
	margin: 0 auto
}

.onlineChartCont .chartEnd .chartEndDetial {
	border-radius: 4px;
	border: 1px solid #666;
	background-color: #fff;
	margin: 0 10px 10px;
	text-align: center;
	min-height: 250px
}

.onlineChartCont .chartEnd .chartEndDetial p {
	padding: 20px 0 0;
	margin: 60px 0 0
}

.onlineChartCont .chartEnd .chartEndDetial p:last-child {
	margin: 0
}

.login-content {
	background-image: url(../images/loginBg.jpg);
	background-size: cover
}

.login-content .login-bg {
	background-color: rgba(0,0,0,.5);
	padding: 180px 0
}

.login-content .login-cont {
	background-color: #e4e4e4;
	margin: 0 auto;
	width: 20%;
	min-width: 450px;
	border-radius: 5px;
	padding: 10px 20px
}

.login-content .login-cont p {
	text-align: center;
	border-bottom: 1px solid #a3a3a3;
	padding: 0 0 15px;
	font-size: 20px;
	font-weight: 700
}

.login-content .login-cont em {
	font-style: inherit
}

.login-content .login-cont form .form-group {
	margin: 20px 0 0;
	padding: 0
}

.login-content .login-cont form .form-group .input-group input,.login-content .login-cont form .form-group .input-group span {
	height: 50px
}

.login-content .login-cont form .form-group .input-group span {
	font-size: 20px;
	padding: 0 20px
}

.login-content .login-cont form .form-group .checkbox {
	margin: -10px 0 0;
	float: right
}

.login-content .login-cont form .form-group .checkbox .remember {
	height: auto
}

.login-content .login-cont form .findPassword>.btn,.login-content .login-cont form .regBtn>.btn {
	display: block;
	width: 100%;
	height: 50px
}

.login-content .login-cont form .findPassword,.login-content .login-cont form .regBtn {
	margin-top: 20px
}

.login-content .login-cont form .loginBtn {
	margin: 20px 0 10px
}

.login-content .login-cont form .loginBtn .btn {
	height: 50px;
	margin: 0;
	width: 100%;
	display: block;
	background: #3d90a2;
	border-radius: 4px;
	color: #fff;
	text-align: center
}

.login-content .login-cont form .findPasswordBtn .loginBtn>.btn {
	width: 100%;
	height: 50px;
	display: block;
	float: left;
	background: #3d90a2;
	color: #fff
}

.login-content .login-cont form .findPasswordBtn .loginBtn {
	margin: 0
}

.bottom {
	background-color: transparent
}

.bottom p {
	text-align: center;
	margin: 20px 0 0
}

.bottom .bottomMenu ul {
	text-align: center
}

.bottom .bottomMenu ul li {
	display: inline-block;
	margin: 0 3% 0 0
}

.bottom .bottomMenu ul li a {
	display: block;
	color: #3d90a2
}

.bottom .bottomMenu ul li a:hover {
	text-decoration: underline
}

.bottom .bottomMenu ul li:last-child {
	margin: 0
}